@import url("temp-styles.css");
@import url("utils.css");
@import url("appbar.css");
@import url("topbar.css");
@import url("left-sidebar.css");
@import url("right-sidebar.css");
@import url("main-canvas.css");
@import url("notification.css");

#fitcropedit {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

#fc-wraper {
  display: flex;
  height: 100%;
}

@media (max-width: 768px) {
  #fc-wraper {
    flex-direction: column;
  }
}

.fc-active {
  background: #7fdbff;
}

.history-list {
  background-color: #fafafa;
  border: 1px solid #eeeeee;
  box-shadow: 0px 2px 2px #dddddd;
  padding: 1rem;
}

/* ----------Icons---------- */

.custom-icon {
  width: 1rem;
  height: 1rem;
  pointer-events: none;
}

/* ----------Buttons---------- */

.control-button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #bdbdbd;
  padding: 0.3em 0.6em;
  font-size: 0.9em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.25s;
  background: #eeeeee;
}

.button-block {
  width: 100%;
}

.control-button:hover {
  background: #bdbdbd;
}

.button {
  box-sizing: border-box;
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  margin: 0 0.2rem;
  background-color: #f8f9fa;
  cursor: pointer;
  transition: background-color 0.38s;
  background: #cccccc;
}

.button:hover {
  background: #cccccc;
}

.button-l {
  width: 7rem;
}

.button-with-icon {
  display: flex;
  margin: 0.1rem 0.1rem;
  align-items: center;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 0.1rem 0.4rem;
}

.button-with-icon:hover {
  cursor: pointer;
  background: #cccccc;
}

.button-text {
  margin-left: 0.25rem;
  pointer-events: none;
}

.sub-button {
  margin-left: 0.3rem;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  background: #cccccc;
}

.sub-button:hover {
  background: #cccccc;
}

.small-button {
  border-radius: 0.25rem;
  margin: 0.2rem;
  padding: 0.2rem 0.4rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.38s;
}
