#fc-historybar {
  poition: relative;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* display: flex; */
}

.fc-historybar-title {
  font-size: 0.8rem;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

.fc-historybar-buttons {
  display: flex;
  max-height: 25px;
}

.fc-history-list {
  background-color: #fafafa;
  border: 1px solid #eeeeee;
  box-shadow: 0px 2px 2px #dddddd;
  padding: 1rem;
  margin-top: 0.3rem;
}

.fc-history-list-item {
  font-size: 0.8rem;
  cursor: pointer
}
.fc-history-list-item:hover {
	color: #7fdbff
  }
