#fc-topbar {
  margin-bottom: 0.3rem;
}

.fc-topbar-box {
  background: #f5f5f5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
  font-size: 0.8rem;
}

#fc-progressbar {
  height: 5px;
  width: 0%;
  background: #2196F3;
}

@media (max-width: 768px) {
  #fc-topbar {
    padding-left: 0.3rem;
  }
  .fc-topbar-box  {
    gap: 6px 0;
  }
}
