/* ----------Flex---------- */

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

/* ----------Spacing---------- */

.p-1 {
  padding: 0.5rem;
}

.m-1 {
  margin: 0.5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.ms-05 {
  margin-left: 0.25rem;
}

.ms-1 {
  margin-left: 0.5rem;
}

.ms-2 {
  margin-left: 1rem;
}

.ms-3 {
  margin-left: 1.5rem;
}

.ms-4 {
  margin-left: 2rem;
}

.ms-5 {
  margin-left: 2.5rem;
}

.me-1 {
  margin-right: 0.5rem;
}

.no-mp {
  margin: 0;
  padding: 0;
}

/* ----------Text---------- */

.text-center {
  text-align: center;
}

/* ---------- ---------- */
.delimeter {
  margin: 0.3rem 0 0.5rem;
  height: 1px;
  background: #eeeeee;
}

/* ----------Avoid clicks---------- */
.fc-avoid-clicks {
  pointer-events: none;
}

.hidden {
  display: none;
}

.disabled {
  color: gray;
  pointer-events: none;
  cursor: default;
}

.bold {
  font-weight: bold;
}
.text-decoration-none {
  text-decoration: none;
}
